
/* Your CSS Code here. */
.holder{
	display:flex;
	
	flex-wrap:wrap;
	justify-content:center;
	
	
}
.p{
	background-color:red;width:100px;
	height:100px;
	
	font-weight:bold;
	font-size:50px;
order:2;
}
.p2{
	background-color:blue;
height:100px;
	width:100px;

	font-weight:bold;
	font-size:50px;
	order:3;
}
.p3{
	background-color:green;
height:100px;width:100px;
	
	font-weight:bold;
	font-size:50px;
	order:1;
	
}